* {
    cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym752.cur), auto !important;
}

body {
    background-color: black;
    margin: 0;
    font-family: monospace;
}

.page-content {
    background-color: rgb(250, 218, 230);
    min-height: 100vh;

    max-width: 65%;
    margin: 0 auto;
    padding-top: 5px;
}

/* === FONTS/GENERAL === */

/* STATIC */
.text {
    color: hotpink;
    font-family: monospace;
    position: static;
}

h1 {
    color: hotpink;
    background-color: black;
    font-size: 100px;
    font-family: monospace;
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
}

h2 {
    color: hotpink;
    background-color: black;
    font-family: monospace;
    text-align: center;

    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
}

p {
    width: auto;
    max-width: 600px;
    background-color: black;
    color: hotpink;
    padding: 8px 12px;
    border: 5px solid hotpink;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}

#p2 {
    color: whitesmoke;
}

legend {
    color: hotpink;
    font-family: monospace;
    text-align: center;
}

button[type="submit"] {
    font-family: monospace;
}

img {
    display: block;
    margin: 0 auto;
}

/* === NAV BAR === */

/* STICKY */
nav {
    color: hotpink;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 8px 12px;
    border: 2px solid hotpink;
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    color: hotpink;
    text-decoration: none;
    margin-right: 10px;
}

/* === FORMS === */

#forms-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px 0 0;
    flex-wrap: wrap;
}

.form-box {
    border: 3px solid hotpink;
    background-color: black;
    color: hotpink;
    padding: 12px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.form-box input,
.form-box button {
    font-family: monospace;
    border-radius: 4px;
    border: 1px solid hotpink;
    padding: 4px 6px;
}

.form-box button {
    background-color: hotpink;
    color: black;
}

/* === GRIDS === */

#grid-examples {
    max-width: 900px;
    margin: 20px auto;
    padding: 10px 15px;
}

#grid-examples h3 {
    color: hotpink;
    text-align: center;
    margin-top: 0;
}

.grid-3x2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 120px);
    gap: 10px;
    margin: 20px auto;
}

.grid-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 120px);
    gap: 10px;
    margin: 20px auto;
}

.grid-item,
.grid-3x3-item {
    background-color: black;
    color: hotpink;
    border: 3px solid hotpink;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    text-align: center;
    padding: 8px;
}

.top {
    grid-column: 1 / -1;
    grid-row: 1;
}

.bottom {
    grid-column: 1 / -1;
    grid-row: 3;
}


/* QUIZ BITS */

#quiz form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

#quiz fieldset {
    border: 3px solid hotpink;
    padding: 15px;
    border-radius: 10px;
    color: hotpink;
}

#quiz fieldset label {
    display: block;
    margin: 6px 0;
}

#quiz button[type="submit"] {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 10px;

    background-color: hotpink;
    color: black;
    border: 2px solid hotpink;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: monospace;
}

/* ===== IMAGES ====== */

header img {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

/* KIRBY IMAGE */

#kirby-box img {
    margin: 0;
}

#kirby-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: hotpink;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* ==== GAMES ==== */

#games-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin: 10px auto;
}

#games-text {
    max-width: 300px;
}

#games ul {
    list-style: disc;
    padding: 1;
    margin: 10px auto;
    border: 3px solid hotpink;
    background-color: black;
    border-radius: 10px;
}

#games li {
    padding: 8px 12px;
    color: hotpink;
    text-align: left;
}

#games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

#games-grid img {
    width: 120px;
    height: auto;
    border: 3px solid hotpink;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

/* === CONTACT === */


/* SOCIALS */

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#socials a {
    text-decoration: none;
}

#socials img {
    display: block;
    margin: 0 0 10px;
}


/* BACK TO TOP */

/* FIXED */
#footer {
    position: fixed;
    bottom: 20px;
    left: 20px;

    background-color: black;
    border: 3px solid hotpink;
    padding: 6px 10px;
    border-radius: 8px;
    text-align: center;
    z-index: 200;
}

#footer a { 
    color: hotpink;
    text-decoration: none;
}
