body {
    background-color: rgb(250, 218, 230);
}

.text {
    color: black;
    font-family: monospace;
}

h1 {
    color: hotpink;
    background-color: black;
    font-size: 100px;
    font-family: monospace;
}

nav {
    color: hotpink;
    background-color: black;
}

nav a {
    color: hotpink;
}

h2 {
    color: hotpink;
    background-color: black;
    font-family: monospace;
}

#p1 {
    color: hotpink;
}

#p2 {
    color: whitesmoke;
}

legend {
    color: hotpink;
    font-family: monospace;
}

ul {
    color: hotpink;
    font-family: monospace;
    font-size: 20px;
}